.skillname
{
    color: white;
    background-color:  #959188;
}
.skill
{
    background-color:  white;
    width: 200px;
}
.ranges
{
    background-color: #bfbdb8;
    height: 100%;
    padding: 0;
    margin: 0;

}